[include]
    path = ~/dotfiles/gitconfig/.gitconfig.local
[includeIf "gitdir:~/go/github.com/4sobiba/"]
	path = ~/dotfiles/gitconfig/.gitconfig.sub
[includeIf "gitdir:~/go/github.com/GincoInc/"]
	path = ~/dotfiles/gitconfig/.gitconfig.ginco
[url "git@github.com:"]
	insteadOf = https://github.com
	insteadOf = https://github.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
