[tools]
python = "3.12"
ruby = "4.0.6"
node = "22"
go = "1.26.2"
rust = "1.95.0"
bun = "1.3.13"
deno = "2.7.14"
"vfox:mise-plugins/vfox-flutter" = "3.47.1"
lua = "5.5"

[settings]
experimental = false
verbose = false
env_shell_expand = true
ruby.compile = false

[env]
PYTHONPATH = "{{ env.PYTHONPATH | default(value='') }}:{{ cwd }}"
GEM_HOME = "{{HOME}}/.gem"
GOPATH = "{{HOME}}/go"
GOBIN = "{{HOME}}/go/bin"
CARGO_HOME = "{{HOME}}/.cargo"
RUSTUP_HOME = "{{HOME}}/.rustup"
DENO_INSTALL_ROOT = "{{HOME}}/.deno"
BUN_INSTALL = "{{HOME}}/.bun"
